.wrapper {
    margin-top: 20px;
    display: block;
    text-align: center;
    .inner{
        display: inline-block;
        margin: 0 auto;
    }
}

ul {
    list-style-type: none;
    display: block;
}
li {
    display: inline-block;
    width: 90px;
    margin: 0 10px;
    font-size: 16px;
}

.list_main {
   background-color: #f7f7f7;
   padding: 10px;
}

button {
    outline: none;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
button:hover {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.btn_edit {
    background-image: url(../../image/rename.png);
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    
}

.btn_add {
    display: block;
    margin-top: 10px;
    width: 100px;
    height: 25px;
    margin: 0 auto;
    background-color: #f7f7f7;
}



